<?xml version="1.0"?>
<model>
  <name>tetraquad</name>
  <version>1.0</version>
  <sdf version='1.6'>tetraquad.sdf</sdf>

  <author>
   <name>Obadah Wali</name>
   <email>obadah.wali@kaust.edu.sa</email>
  </author>

  <description>
    This is a model of the TetraQuad drone
  </description>
</model>
