<?xml version="1.0"?>
<model>
  <name>tetraquad_fourMod</name>
  <version>1.0</version>
  <sdf version='1.6'>tetraquad_fourMod.sdf</sdf>

  <author>
   <name>Obadah Wali</name>
   <email>obadah.wali@kaust.edu.sa</email>
  </author>

  <description>
    This is a model of the tetraquad_fourMod drone
  </description>
</model>
